body {}

#darkBorder {
    border: solid rgb(96, 96, 96) 4px;
}

#mouseField {
    font-size: 2rem;
    height: 200px;
    width: 50%;
    border: solid rgb(212, 212, 212) 4px;
    border-style: inset;
    background-color: #ff8412;
    background-image: linear-gradient(to bottom right, rgb(191, 0, 255), rgb(0, 191, 255)), url();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.clicking {
    background-image: linear-gradient(to bottom right, rgb(191, 0, 255), rgb(0, 191, 255, .5)), url(https://b.thumbs.redditmedia.com/FeKqxXkDmQnjYxMW3eOYw4ySBVrtTyYg2qgIMyrBDEo.jpg);
    background-size: 100% 100%;
}


#countdown,
#totalClicks,
#counter {
    user-select: none;
    margin: 0;
}

.dark {
    background: #222;
    color: #e6e6e6;
}